.entries-container {
  width: 80%;
  margin: 0 auto;
}

.entries-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entries-header {
  font-weight: 300;
  font-size: 1.7rem;
  margin: 3rem 0 1.5rem;
}

@media(max-width: 768px) {
  .entries-nav {
    flex-direction: column;
    margin: 0.5rem 0;
  }
}